<body>
<mat-expansion-panel class = "task1">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Task 1
      </mat-panel-title>     
    </mat-expansion-panel-header>

    <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Study for Exam</mat-card-title>
          <mat-card-subtitle>Exam is on 25th April</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src= "../../assets/Images/exam.jpg" alt="Exam Photo">
        <mat-card-content>
          <p>
            The topic for Exam is Angular.
          </p>
        </mat-card-content>
      </mat-card>

</mat-expansion-panel>


<mat-expansion-panel class = "task2">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Task 2
      </mat-panel-title>
     
    </mat-expansion-panel-header>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Assignment</mat-card-title>
          <mat-card-subtitle>Complete the Assignment</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src= "../../assets/Images/download.jpg" alt="Assignment Photo">
        <mat-card-content>
          <p>
            Study for Assignments. Explore different things and sites.
          </p>
        </mat-card-content>
      </mat-card>

</mat-expansion-panel>



<mat-expansion-panel class = "task3">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Task 3
      </mat-panel-title>
     
    </mat-expansion-panel-header>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Water the Plants</mat-card-title>
          <mat-card-subtitle>Water them daily , take care of them nicely.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/Images/houseplants-asplenium-nidus-peperomia-and-fittonia-royalty-free-image-946085220-1557179507.jpg" alt="Plant Image">
        <mat-card-content>
          <p>
            It is important to water them daily .
          </p>
        </mat-card-content>
      </mat-card>

</mat-expansion-panel>



<mat-expansion-panel class = "task4">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Task 4
      </mat-panel-title>
     
    </mat-expansion-panel-header>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4"></div>
          <mat-card-title>Running</mat-card-title>
          <mat-card-subtitle>Complete 10,000 steps.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=".../../assets/Images/running.jpg"  alt="Running Image">
        <mat-card-content>
          <p>
            Run for 30 mins daily.
          </p>
        </mat-card-content>
      </mat-card>

</mat-expansion-panel>
</body>